@import './../../assets/variables.scss';

.profile {
  flex: 2;
  width: 30rem;
  margin-top: 70px;
  height: calc(100vh - 70px);
  overflow-y: scroll;
  overflow: hidden; 
  border-radius: 10px;
  background: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

  &__info {
    padding: 2rem;
    p {
      font-size: 1.7rem;
      color: gray;
    }
  }
  &__menu {
    padding: 2rem;
    li {
      list-style: none;
      i {
        color: $secondary-color;
        font-size: 2rem;
        padding: 2rem;
      }
      span {
        font-size: 2rem;
        color: $main-color;
        cursor: pointer;
      }
    }
  }
}

.saved {
  flex: 6;
  background: #f3f3f3;
  padding: 6rem 9%;

  .table {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(28rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 1.5rem;

    .card {
      width: 28rem;
      text-align: center;
      background: #fff;
      -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
              box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
      border-radius: .5rem;
      padding: 2rem;
      position: relative;
  
      img {
        height: 25rem;
        width: 100%;
        -o-object-fit: cover;
          object-fit: cover;
        border-radius: .5rem;
      }
      h3 {
        font-size: 1.8rem;
        color: $main-color;
      }
      i {
        font-size: 1.7rem;
        color: grey;
        padding: 0.5rem;
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }
}


  //   width: 60rem;
  //   // -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  //   //       box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  //   .table-body {
  //     padding: 4rem;
  //     -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  //             box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  //   }
  //   img {
  //     width: 20rem;
  //     padding: 0.5rem;
  //   }
  //   p {
  //     font-size: 1.7rem;
  //   }
  // }


.profile-container {
  display: flex;
  width: 100%;
}

@media (max-width: 991px) {
  .saved {
    .table {
      width: 50rem;
    }
  }
}

@media (max-width: 768px) {
  .profile-container {
    display: block;
  }

  .saved {
    flex: 12;
    margin: 2rem;
    padding: 2rem;
  }
}

@media (max-width: 580px) {
  .saved {
    .table {
      width: 30rem;
    }
  }
}